<ion-content class="ion-padding login-content">
  <div class="login-container">

    <div class="login-header">
      <ion-icon name="wallet" class="logo-icon"></ion-icon>
      <h1>MoneyWise</h1>
      <p>Controla tus finanzas personales</p>
    </div>

    <form [formGroup]="form">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input
          type="email"
          formControlName="email"
          placeholder="tucorreo@email.com">
        </ion-input>
      </ion-item>
      <ion-note color="danger"
        *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
        Email inválido
      </ion-note>

      <ion-item class="ion-margin-top">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input
          type="password"
          formControlName="password"
          placeholder="********">
        </ion-input>
      </ion-item>
      <ion-note color="danger"
        *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
        Contraseña inválida (mínimo 8 caracteres)
      </ion-note>

      <ion-button
        expand="block"
        class="ion-margin-top"
        (click)="login()"
        [disabled]="form.invalid">
        Iniciar Sesión
      </ion-button>
    </form>

    <div class="register-link">
      <p>¿No tienes cuenta?
        <span (click)="irARegistro()">Regístrate aquí</span>
      </p>
    </div>

  </div>
</ion-content>
