<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="toolbar-title">
        <ion-icon name="list-outline"></ion-icon>
        Transacciones
      </div>
    </ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment [value]="filtroTipo" (ionChange)="onTipoChange($event)">
      <ion-segment-button value="todos">
        <ion-label>Todos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="ingreso">
        <ion-label>Ingresos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="gasto">
        <ion-label>Gastos</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar
      placeholder="Buscar por descripción..."
      (ionInput)="onBusquedaChange($event)"
      [debounce]="300">
    </ion-searchbar>
  </ion-toolbar>

  <ion-toolbar>
    <ion-item lines="none">
      <ion-label>Categoría</ion-label>
      <ion-select
        [value]="filtroCategoria"
        (ionChange)="onCategoriaChange($event)"
        placeholder="Todas">
        <ion-select-option value="todas">Todas</ion-select-option>
        <ion-select-option
          *ngFor="let cat of categorias"
          [value]="cat.nombre">
          {{ cat.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="transacciones.length > 0; else sinTransacciones">
    <app-transaction-item
      *ngFor="let t of transacciones
        | filterByType:filtroTipo
        | filterByCategory:filtroCategoria
        | searchByText:textoBusqueda"
      [transaccion]="t"
      (onClick)="verDetalle($event)">
    </app-transaction-item>
  </ion-list>

  <ng-template #sinTransacciones>
    <app-empty-state
      mensaje="No hay transacciones"
      icono="receipt-outline"
      accion="Agregar nueva"
      (onAccion)="abrirFormulario()">
    </app-empty-state>
  </ng-template>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="abrirFormulario()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>